cython
thriftpy
pyramid==1.8.5
SQLAlchemy==1.1.9
mysqlclient==1.3.9
redis==2.10.5
requests==2.11.1
haystack==0.36
whoosh==2.7.4
pyramid_jinja2
pyramid_tm
pyramid_beaker
celery==4.0
celery_once==1.2.0
pyramid_celery==3.0.0
pyramid_debugtoolbar
waitress
WebTest>=1.3.1
pytest
pytest-cov
gunicorn
zope.sqlalchemy
happybase
